OrdersManager/OrdersManager.Client/obj/Debug/netcoreapp2.0/OrdersManager.Client.pdb

OrdersManager/OrdersManager.Client/obj/OrdersManager.Client.csproj.nuget.cache
OrdersManager/OrdersManager.Infrastructure/obj/Debug/netcoreapp2.0/OrdersManager.Infrastructure.csprojResolveAssemblyReference.cache
OrdersManager/.vs/OrdersManager/v15/.suo